.ebt-image-container
{
	width: 300px;
	height: 150px;
}

.ebt-image-container img
{
	height: 100%;
	max-height: 100%;
	width: 100%;
	object-fit: cover;
}

.leaflet-popup-content
{
	width: 300px !important;
}

.leaflet-popup-store-name
{
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0 !important;
}

.leaflet-popup-content p
{
	margin: 0px !important;
	font-size: 14px;
}